<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Analytical Projectile Motion</title>         
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>         
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>         
        <link rel="stylesheet" href="static/css/styles.css">        
    </head>     
    <body> 
        <div class="title">Analytical Projectile Motion Model</div>
        <div class="text-container">Challenge #2: Create a more sophisticated exact (&lsquo;analytic&rsquo;) model using equations for the projectile trajectory.</div> 
        <div class="text-container">In this case define a equally spaced array of x coordinate values
            between 0 and the maximum horizontal range R.</div>
        <div class="text-container">Plot the trajectory and the apogee.</div>

        
        <div class="text-container">
            Maximum Horizontal Range = (u<sup>2</sup> / g) (sinθ cosθ + cosθ * sqrt(sin<sup>2</sup>θ + 2gh / u<sup>2</sup>))

        </div>
        <div class="text-container">x (apogee) = (u<sup>2</sup> sinθ cosθ) / g<br> </div>
        <div class="text-container">y (apogee) = h + (u<sup>2</sup> sin<sup>2</sup>θ) / (2g)<br> </div>
        <div class="text-container">
            y = h + x tanθ - g * (1 + tan<sup>2</sup>θ) x<sup>2</sup> / (2u<sup>2</sup>)
        </div>
        
        <div class="slider-container"> 
            <label class="slider-label" for="speed">Launch Speed (u):</label>             
            <input type="range" id="speed" name="speed" min="1" max="100" step="1" value="10"> <span id="speedValue">10</span> 
        </div>         
        <div class="slider-container"> 
            <label class="slider-label" for="angle">Launch Angle (θ):</label>             
            <input type="range" id="angle" name="angle" min="0" max="90" step="1" value="42"> <span id="angleValue">42</span> 
        </div>         
        <div class="slider-container"> 
            <label class="slider-label" for="gravity">Gravity (g):</label>             
            <input type="range" id="gravity" name="gravity" min="1" max="20" step="0.1" value="9.81"> <span id="gravityValue">9.81</span> 
        </div>         
        <div class="slider-container"> 
            <label class="slider-label" for="height">Launch Height (h):</label>             
            <input type="range" id="height" name="height" min="0" max="100" step="1" value="1"> <span id="heightValue">1</span> 
        </div>         
        <div id="graph"></div>         
        <script>
        function updateGraph() {
            var formData = {
                speed: $('#speed').val(),
                angle: $('#angle').val(),
                gravity: $('#gravity').val(),
                height: $('#height').val()
            };
            $.ajax({
                type: 'POST',
                url: '/update_2',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function(response) {
                    var graph = JSON.parse(response.graphJSON);
                    Plotly.newPlot('graph', graph.data, graph.layout);
                }
            });
        }

        $(document).ready(function() {
            $('input[type="range"]').on('input', function() {
                var id = $(this).attr('id');
                $('#' + id + 'Value').text($(this).val());
                updateGraph();
            });

            updateGraph(); 
        });
    </script>         
        <picture></picture>
    </body>     
</html>
